.original-image-container {
  position: relative;
}

.original-image{
  width: 100%;
}

.focal-point{
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: yellow;
  border: 2px solid blue;
  border-radius: 100%;
  margin-top: -11px;
  margin-left: -11px
}