.image-container {
  border: 3px solid transparent;
  border-radius: var(--p-border-radius-base);
  position: relative;
}
.image-container--active {
  border-color: var(--p-border-highlight); 
}
.image-container span{
  border: none;
  border-radius: 0;
}
.image-container span img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}
span.remove-button {
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
  color: white;
  position: absolute;
  right: -10px;
  top: -10px;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 20px;
  font-size: 10px;
  z-index: 1;
}
